flask==2.0.2
jinja2==3.0.2
gunicorn
python-dotenv
Flask-Minify
requests
glom
pyyaml
pandas
Werkzeug~=2.0.3
flask-cors
Google
PyMySQL==1.0.2
peewee==3.14.8
psycopg==3.0.8
pickle5;python_version < '3.8' and python_version >= '3.5'
# if python version is less than 3.8 install pickle5
