
  <footer class="footer pt-2 mt-1">
    <hr class="horizontal dark mb-5">

    <div class="container">
      <div class=" row">
        <div class="col-12">
          <div class="text-center">
            <p class="my-2 text-sm">
              Designed by <a target="_blank" href="https://www.creative-tim.com/product/soft-ui-design-system?AFFILIATE=128200" target="_blank">Creative Tim</a> 
              - Coded by <a target="_blank" href="https://appseed.us" target="_blank">AppSeed</a>.
            </p>
          </div>
        </div>
      </div>      
    </div>

  </footer>

